body{
  
}
#goron {
    display: none;
    height: 100vh;
    width:100vw;
    box-sizing: border-box;
    margin: 0;
    padding:0;

}
@keyframes texty {
    0%{color:black;left: 0;top: 0; }
    25%{color:blue; left:400px; top: 0}
    50%{color:crimson; left:400px; top:600px}
    75%{color:green;left:0;top: 500px}
    100%{color: black; left: 0;top:0}
}
@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
.Konami{
    text-align: center;
    display: none;
    /*animation-name: example,texty ;*/
    /*animation-iteration-count: infinite,3;*/
    /*animation-duration: 3s;*/
    position: relative;
    margin:300px;
    font-family: 'Anton', sans-serif;;
    font-size: 20px;
    /*text-shadow: 0 2px 2px #dfdfdf,*/
    /*-2px 5px 1px #b8b8b8,*/
    /*-4px 8px 0px #979797,*/
    /*-6px 11px 0px #747474,*/
    /*-8px 14px 0px #565656,*/
    /*-10px 17px 0px #343434,*/
    /*-12px 20px 0px #171717,*/
    /*-14px 23px 0px #000;*/
}



#mistake {
    display: none;
}

#healing{
    height: 100vh;
    width:100vw;
    display: none;
    box-sizing: border-box;
    padding:0;
    margin:0;
}
#storm{
    height: 100vh;
    width: 100vw;
    display: none;
    box-sizing: border-box;
    padding:0;
    margin:0;
}
#ben{
    height: 100vh;
    width: 100vw;
    display: none;
    box-sizing: border-box;
    padding:0;
    margin:0;
}



