#goron {
    display: none;
    height: 500px;
    width:500px;
    margin: 20em auto 10em 20em

}
@keyframes texty {
    0%{color:black;left: 0px;top: 0px; }
    25%{color:blue; left:400px; top: 0px}
    50%{color:crimson; left:400px; top:400px}
    75%{color:green;left:0px;top: 400px}
    100%{color: black; left: 0px;top:0px}
}
@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
.Konami{
    text-align: center;
    display: none;
    animation-name: example,texty ;
    animation-iteration-count: infinite,3;
    animation-duration: 3s;
    position: relative;
    margin:300px;
    font-family: 'Anton', sans-serif;;
    font-size: 80px;
    text-shadow: 0 2px 2px #dfdfdf,
    -2px 5px 1px #b8b8b8,
    -4px 8px 0px #979797,
    -6px 11px 0px #747474,
    -8px 14px 0px #565656,
    -10px 17px 0px #343434,
    -12px 20px 0px #171717,
    -14px 23px 0px #000;
}



#mistake {
    display: none;
}

#ben {
    display: none;
}

p {
    /*  !* for first text *!*/
    /*             color: #dfdfdf;*/
    /*             text-shadow: 0 0 2px #dfdfdf,*/
    /*             -4px 5px 0 #b8b8b8,*/
    /*             -7px 11px 0 #747474,*/
    /*             -12px 17px 0 #343434,*/
    /*             -17px 23px 0 #000;*/
    /*         }*/

    /* #useless{*/
    /*color: #67875d;*/
    /*text-shadow: 0 0 2px #67875d,*/
    /*-4px 5px 0 #5d7755,*/
    /*-7px 11px 0 #4d6047,*/
    /*-12px 17px 0 #2e382b,*/
    /*-17px 23px 0 #000;*/
}

button {

}