* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body {
    background-color: gray;
    padding:10px
}

.alert-info {
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    padding: 20px;
    margin: 0 auto
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;


}

li {
    display: flex;
    background-color: deeppink;
    justify-content: center;
    margin-bottom: .5em;
    width: 90vw;
    align-items: center;

}

a {
    justify-content: space-evenly;
}

.header-img {
    display: flex;
   width: 90%;
    margin:0;
    justify-content: center;
    position: relative;
}
img{
    width:100%
}
